@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scroll-behavior: smooth;
}


body {
    font-family: 'Gowun Batang', serif;
    font-family: 'Space Grotesk', sans-serif;
    user-select: none;

    @apply dark:bg-[#0e0e0e] dark:text-white transition-all duration-200;
}

body, nav > .flex-between {
    max-width: 1540px;
    margin: 0 auto;
}



.h {
    /* font-family: 'Orbitron', sans-serif; */
}

@layer components {
    .flex-between {
        @apply flex items-center justify-between;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .img-cover {
        @apply h-full w-full object-cover;
    }

    .spacing {
        @apply px-24 max-[1110px]:px-12 max-[430px]:px-6 py-6;
    }
}

img {
    height: 100%;
    width: 100%;
}

.grid-250 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-250.fill {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1rem;
}

.blue-image-text {
    background-image: url('/images/text2.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    background-size: contain;
}

.bg-text {
    background-image: url('/images/exchange.avif');
    background-clip: text;
    -webkit-background-clip: text;
    background-size: contain;
}

.w-minus-250 {
    width: calc(100% - 250px);
}

@media (max-width: 600px) {
    .grid-box {
        grid-template-columns: 1fr 1fr;
    }
}

.grid-500 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.text-animate {
    animation: animateText 12s infinite;
    animation-delay: calc(var(--i) * 0.035s);
}

.pear {
    border-radius: 48% 52% 50% 50% / 69% 68% 32% 31%;
}

/* @keyframes animateText {
    0%, 18.75%, 50%, 100% {
        color: #0e0e0e;
    }

    25%, 70%, 80% {
        color: #0e0e0e00;
    }
} */


.animate-bg {
    @apply bg-white dark:bg-[#0e0e0e];
    animation: animateBg 3s infinite;
}

.animate-obj {
    top: 50%;
    animation: animateObj 3s infinite;

}


@keyframes animateBg {
    0%, 100%{
        /* background: rgba(108, 108, 255, 0.303); */
        border-color: rgb(108, 108, 255);
    }

    50% {
        /* background: rgba(255, 70, 70, 0.289); */
        border-color: rgb(255, 70, 70);
    }
}

@keyframes animateObj {
    0%, 100% {
        top: 50%
    }

    50% {
        top: 10%;
    }
}




.admin {
    --size: 300px;
    --nav: 60px;
}

.admin.active {
    --size: 0px;
}

.admin-left {
    border-right: 1px solid #5555552a;
    width: var(--size);
}

.admin-right {
    width: calc(100% - var(--size));
}

.admin > * {
    height: 100vh;
}

.admin-nav {
    height: var(--nav);
    border-radius: 50px;
}

.admin-content {
    height: calc(100% - var(--nav));
    overflow-y: scroll;
}


.table {
    display: grid;
    grid-template-columns: 120px 2fr repeat(2, 1fr) 100px;
    border: 1px solid #88888876;
    border-radius: 10px;
}

.cell {
    border-left: 1px solid #88888876;
    padding: 1rem;
}

.cell-center {
    @apply flex items-center justify-center;
}

.cell:first-of-type {
    border-left: none;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    @apply dark:border-[#444];
}

.ql-container.ql-snow, .ql-editor {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    @apply dark:border-[#444] min-h-[500px];
}

.icon-loading {
    animation: icon-animate 2s infinite;
}

.rotation {
    animation:  rotation 2s linear infinite;
}

@keyframes icon-animate {
    0%, 100% {
        @apply text-blue-500
    }

    50% {
        @apply text-white
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}