@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Gowun Batang', serif;
    font-family: 'Space Grotesk', sans-serif;
    user-select: none;

    @apply dark:bg-[#0e0e0e] dark:text-white transition-all duration-200;
}

body, nav > .flex-between {
    max-width: 1540px;
    margin: 0 auto;
}



.h {
    /* font-family: 'Orbitron', sans-serif; */
}

@layer components {
    .flex-between {
        @apply flex items-center justify-between;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .img-cover {
        @apply h-full w-full object-cover;
    }

    .spacing {
        @apply px-24 max-[1110px]:px-12 max-[430px]:px-6 py-6;
    }
}

img {
    height: 100%;
    width: 100%;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1rem;
}

.blue-image-text {
    background-image: url('/images/text2.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    background-size: contain;
}

@media (max-width: 600px) {
    .grid-box {
        grid-template-columns: 1fr 1fr;
    }
}

.text-animate {
    animation: animateText 12s infinite;
    animation-delay: calc(var(--i) * 0.035s);
}

.pear {
    border-radius: 48% 52% 50% 50% / 69% 68% 32% 31%;
}

/* @keyframes animateText {
    0%, 18.75%, 50%, 100% {
        color: #0e0e0e;
    }

    25%, 70%, 80% {
        color: #0e0e0e00;
    }
} */


.animate-bg {
    @apply bg-white dark:bg-[#0e0e0e];
    animation: animateBg 3s infinite;
}

.animate-obj {
    top: 50%;
    animation: animateObj 3s infinite;

}


@keyframes animateBg {
    0%, 100%{
        /* background: rgba(108, 108, 255, 0.303); */
        border-color: rgb(108, 108, 255);
    }

    50% {
        /* background: rgba(255, 70, 70, 0.289); */
        border-color: rgb(255, 70, 70);
    }
}

@keyframes animateObj {
    0%, 100% {
        top: 50%
    }

    50% {
        top: 10%;
    }
}